
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Resonating Wood Recordings - Resonating Wood Recordings</title><meta property="og:site_name" content="Resonating Wood Recordings" />
<meta property="og:title" content="Resonating Wood Recordings" />
<meta property="og:description" content="Resonating Wood Recordings is an independent label which was set up in 2012 to promote music that we believe in and want to support." />
<meta property="og:image" content="http://www.resonatingwoodrecordings.com/uploads/3/0/6/1/30615527/dsc-0877.jpg" />
<meta property="og:image" content="http://www.resonatingwoodrecordings.com/uploads/3/0/6/1/30615527/alex-rainer-artist-orig.jpg" />
<meta property="og:image" content="http://www.resonatingwoodrecordings.com/uploads/3/0/6/1/30615527/8348935-orig.jpg" />
<meta property="og:image" content="http://www.resonatingwoodrecordings.com/uploads/3/0/6/1/30615527/asv-bio-shot-orig.jpg" />
<meta property="og:image" content="http://www.resonatingwoodrecordings.com/uploads/3/0/6/1/30615527/2682965-orig.jpg" />
<meta property="og:image" content="http://www.resonatingwoodrecordings.com/uploads/3/0/6/1/30615527/373fcc1d-4cc2-41b8-8450-713d905a699d-orig.jpeg" />
<meta property="og:image" content="http://www.resonatingwoodrecordings.com/uploads/3/0/6/1/30615527/6104887-orig.jpg" />
<meta property="og:image" content="http://www.resonatingwoodrecordings.com/uploads/3/0/6/1/30615527/sawak-orig.jpg" />
<meta property="og:image" content="http://www.resonatingwoodrecordings.com/uploads/3/0/6/1/30615527/img-5832-kopia-orig.jpg" />
<meta property="og:image" content="http://www.resonatingwoodrecordings.com/uploads/3/0/6/1/30615527/14686072-1741955619403328-1450352135-n-orig.png" />
<meta property="og:url" content="http://www.resonatingwoodrecordings.com/" />

<meta name="description" content="Resonating Wood Recordings is an independent label which was set up in 2012 to promote music that we believe in and want to support." />
<meta name="keywords" content="music, record label, slovakia, independent record label, music publishing" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link rel="shortcut icon" href="/files/theme/favicon.ico" />
		<link id="wsite-base-style" rel="stylesheet" type="text/css" href="//cdn2.editmysite.com/css/sites.css?buildTime=1663691831" />
<link rel="stylesheet" type="text/css" href="//cdn2.editmysite.com/css/old/fancybox.css?1663691831" />
<link rel="stylesheet" type="text/css" href="//cdn2.editmysite.com/css/social-icons.css?buildtime=1663691831" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="/files/main_style.css?1663705553" title="wsite-theme-css" />
<link href='//cdn2.editmysite.com/fonts/Quattrocento_Sans/font.css?2' rel='stylesheet' type='text/css' />
<link href='//cdn2.editmysite.com/fonts/Quattrocento/font.css?2' rel='stylesheet' type='text/css' />

<link href='//cdn2.editmysite.com/fonts/Crimson_Text/font.css?2' rel='stylesheet' type='text/css' />
<link href='//cdn2.editmysite.com/fonts/Open_Sans/font.css?2' rel='stylesheet' type='text/css' />
<link href='//cdn2.editmysite.com/fonts/Open_Sans/font.css?2' rel='stylesheet' type='text/css' />
<link href='//cdn2.editmysite.com/fonts/Journal/font.css?2' rel='stylesheet' type='text/css' />
<link href='//cdn2.editmysite.com/fonts/Yanone_Kaffeesatz/font.css?2' rel='stylesheet' type='text/css' />
<link href='//cdn2.editmysite.com/fonts/Cardo/font.css?2' rel='stylesheet' type='text/css' />
<link href='//cdn2.editmysite.com/fonts/Journal/font.css?2' rel='stylesheet' type='text/css' />
<style type='text/css'>
.wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) p, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-block .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-description, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {font-family:"Crimson Text" !important;}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{font-family:"Open Sans" !important;color:#626262 !important;text-transform:  uppercase !important;letter-spacing: 1px !important;}
.wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-long .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-large .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {font-family:"Open Sans" !important;}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {color:#2a2a2a !important;}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {font-family:"Journal" !important;text-transform:  none !important;letter-spacing: 3px !important;}
.wsite-menu-default a {}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {font-family:"Yanone Kaffeesatz" !important;font-weight:300 !important;text-transform:  uppercase !important;letter-spacing: 2px !important;}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline,.wsite-header-section .wsite-content-title {font-family:"Cardo" !important;font-weight:700 !important;}
.wsite-headline-paragraph,.wsite-header-section .paragraph {}
.wsite-button-inner {}
.wsite-not-footer blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {font-family:"Journal" !important;letter-spacing: 3px !important;}
#wsite-content h2.wsite-product-title {color:#2a2a2a !important;}
.wsite-product .wsite-product-price a {}
@media screen and (min-width: 767px) {.wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) p, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-block .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-description, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {font-size:18px !important;line-height:32px !important;}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{font-size:12px !important;}
.wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-long .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-large .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {font-size:22px !important;line-height:60px !important;}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {font-size:30px !important;}
.wsite-menu-default a {}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {font-size:20px !important;}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline,.wsite-header-section .wsite-content-title {}
.wsite-headline-paragraph,.wsite-header-section .paragraph {}
.wsite-button-inner {}
.wsite-not-footer blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {font-size:45px !important;}
#wsite-content h2.wsite-product-title {}
.wsite-product .wsite-product-price a {}
}</style>

		<script>
var STATIC_BASE = '//cdn1.editmysite.com/';
var ASSETS_BASE = '//cdn2.editmysite.com/';
var STYLE_PREFIX = 'wsite';
</script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>

<script type="text/javascript" src="//cdn2.editmysite.com/js/lang/en/stl.js?buildTime=1663691831&"></script>
<script src="//cdn2.editmysite.com/js/site/main.js?buildTime=1663691831"></script><script type="text/javascript">
		function initCustomerAccountsModels() {
					(function(){_W.setup_rpc({"url":"\/ajax\/api\/JsonRPC\/CustomerAccounts\/","actions":{"CustomerAccounts":[{"name":"login","len":2,"multiple":false,"standalone":false},{"name":"logout","len":0,"multiple":false,"standalone":false},{"name":"getSessionDetails","len":0,"multiple":false,"standalone":false},{"name":"getAccountDetails","len":0,"multiple":false,"standalone":false},{"name":"getOrders","len":0,"multiple":false,"standalone":false},{"name":"register","len":4,"multiple":false,"standalone":false},{"name":"emailExists","len":1,"multiple":false,"standalone":false},{"name":"passwordReset","len":1,"multiple":false,"standalone":false},{"name":"passwordUpdate","len":3,"multiple":false,"standalone":false},{"name":"validateSession","len":1,"multiple":false,"standalone":false}]},"namespace":"_W.CustomerAccounts.RPC"});
_W.setup_model_rpc({"rpc_namespace":"_W.CustomerAccounts.RPC","model_namespace":"_W.CustomerAccounts.BackboneModelData","collection_namespace":"_W.CustomerAccounts.BackboneCollectionData","bootstrap_namespace":"_W.CustomerAccounts.BackboneBootstrap","models":{"CustomerAccounts":{"_class":"CustomerAccounts.Model.CustomerAccounts","defaults":null,"validation":null,"types":null,"idAttribute":null,"keydefs":null}},"collections":{"CustomerAccounts":{"_class":"CustomerAccounts.Collection.CustomerAccounts"}},"bootstrap":[]});
})();
		}
		if(document.createEvent && document.addEventListener) {
			var initEvt = document.createEvent('Event');
			initEvt.initEvent('customerAccountsModelsInitialized', true, false);
			document.dispatchEvent(initEvt);
		} else if(document.documentElement.initCustomerAccountsModels === 0){
			document.documentElement.initCustomerAccountsModels++
		}
		</script>
		<script type="text/javascript"> _W = _W || {}; _W.securePrefix='www.resonatingwoodrecordings.com'; </script><script>_W = _W || {};
			_W.customerLocale = "en_US";
			_W.storeName = null;
			_W.isCheckoutReskin = false;
			_W.storeCountry = "SK";
			_W.storeCurrency = "EUR";
			_W.storeEuPrivacyPolicyUrl = "";
			com_currentSite = "224874594365616900";
			com_userID = "30615527";</script><script type="text/javascript">_W.configDomain = "www.weebly.com";</script><script>_W.relinquish && _W.relinquish()</script>
<script type="text/javascript" src="//cdn2.editmysite.com/js/lang/en/stl.js?buildTime=1663691831&"></script><script> _W.themePlugins = [];</script><script type="text/javascript"> _W.recaptchaUrl = "https://www.google.com/recaptcha/api.js"; </script><script type="text/javascript"><!--
	
	
	function initFlyouts(){
		initPublishedFlyoutMenus(
			[{"id":"650117957105581398","title":"Home","url":"index.html","target":"","nav_menu":false,"nonclickable":false},{"id":"748900977946734220","title":"About","url":"about.html","target":"","nav_menu":false,"nonclickable":false},{"id":"625939732446476505","title":"News","url":"news.html","target":"","nav_menu":false,"nonclickable":false},{"id":"882732140409665322","title":"Artists","url":"artists.html","target":"","nav_menu":false,"nonclickable":false},{"id":"476405692418156884","title":"Releases","url":"releases.html","target":"","nav_menu":false,"nonclickable":false},{"id":"105659102922199972","title":"Videos","url":"videos.html","target":"","nav_menu":false,"nonclickable":false},{"id":"981721023215091704","title":" Links","url":"-links.html","target":"","nav_menu":false,"nonclickable":false},{"id":"185689842915529816","title":"Shop","url":"https:\/\/resonatingwoodrecordings.bandcamp.com\/","target":"_blank","nav_menu":false,"nonclickable":false}],
			"650117957105581398",
			'',
			'active',
			false,
			{"navigation\/item":"<li {{#id}}id=\"{{id}}\"{{\/id}} class=\"wsite-menu-item-wrap\">\n\t<a\n\t\t{{^nonclickable}}\n\t\t\t{{^nav_menu}}\n\t\t\t\thref=\"{{url}}\"\n\t\t\t{{\/nav_menu}}\n\t\t{{\/nonclickable}}\n\t\t{{#target}}\n\t\t\ttarget=\"{{target}}\"\n\t\t{{\/target}}\n\t\t{{#membership_required}}\n\t\t\tdata-membership-required=\"{{.}}\"\n\t\t{{\/membership_required}}\n\t\tclass=\"wsite-menu-item\"\n\t\t>\n\t\t{{{title_html}}}\n\t<\/a>\n\t{{#has_children}}{{> navigation\/flyout\/list}}{{\/has_children}}\n<\/li>\n","navigation\/flyout\/list":"<div class=\"wsite-menu-wrap\" style=\"display:none\">\n\t<ul class=\"wsite-menu\">\n\t\t{{#children}}{{> navigation\/flyout\/item}}{{\/children}}\n\t<\/ul>\n<\/div>\n","navigation\/flyout\/item":"<li {{#id}}id=\"{{id}}\"{{\/id}}\n\tclass=\"wsite-menu-subitem-wrap {{#is_current}}wsite-nav-current{{\/is_current}}\"\n\t>\n\t<a\n\t\t{{^nonclickable}}\n\t\t\t{{^nav_menu}}\n\t\t\t\thref=\"{{url}}\"\n\t\t\t{{\/nav_menu}}\n\t\t{{\/nonclickable}}\n\t\t{{#target}}\n\t\t\ttarget=\"{{target}}\"\n\t\t{{\/target}}\n\t\tclass=\"wsite-menu-subitem\"\n\t\t>\n\t\t<span class=\"wsite-menu-title\">\n\t\t\t{{{title_html}}}\n\t\t<\/span>{{#has_children}}<span class=\"wsite-menu-arrow\">&gt;<\/span>{{\/has_children}}\n\t<\/a>\n\t{{#has_children}}{{> navigation\/flyout\/list}}{{\/has_children}}\n<\/li>\n"},
			{}
		)
	}
//-->
</script>
		
		<script type="text/javascript">(function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/3/1/31a70bf4e7bb7b23a2e9e050ddb5d11d/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));</script>
	</head>
	<body class="no-header-page  wsite-theme-light  wsite-page-index"><div class="wrapper">
    <div class="cento-header">
      <div class="container">
        <div class="logo"><span class="wsite-logo">

	<a href="/">
		<img src="/uploads/3/0/6/1/30615527/published/updated-logo.png?1591200638" alt="Resonating Wood Recordings" />
	</a>

</span></div>
        <a class="hamburger" aria-label="Menu" href="#"><span></span></a>
      </div>
      <div class="nav-wrap">
        <div class="container">
          <div class="nav desktop-nav"><ul class="wsite-menu-default">
		<li id="active" class="wsite-menu-item-wrap">
			<a
						href="/"
				class="wsite-menu-item"
				>
				Home
			</a>
			
		</li>
		<li id="pg748900977946734220" class="wsite-menu-item-wrap">
			<a
						href="/about.html"
				class="wsite-menu-item"
				>
				About
			</a>
			
		</li>
		<li id="pg625939732446476505" class="wsite-menu-item-wrap">
			<a
						href="/news.html"
				class="wsite-menu-item"
				>
				News
			</a>
			
		</li>
		<li id="pg882732140409665322" class="wsite-menu-item-wrap">
			<a
						href="/artists.html"
				class="wsite-menu-item"
				>
				Artists
			</a>
			
		</li>
		<li id="pg476405692418156884" class="wsite-menu-item-wrap">
			<a
						href="/releases.html"
				class="wsite-menu-item"
				>
				Releases
			</a>
			
		</li>
		<li id="pg105659102922199972" class="wsite-menu-item-wrap">
			<a
						href="/videos.html"
				class="wsite-menu-item"
				>
				Videos
			</a>
			
		</li>
		<li id="pg981721023215091704" class="wsite-menu-item-wrap">
			<a
						href="/-links.html"
				class="wsite-menu-item"
				>
				 Links
			</a>
			
		</li>
		<li id="pg185689842915529816" class="wsite-menu-item-wrap">
			<a
						href="https://resonatingwoodrecordings.bandcamp.com/"
					target="_blank"
				class="wsite-menu-item"
				>
				Shop
			</a>
			
		</li>
</ul>
</div>
        </div><!-- end .container -->
      </div><!-- end .nav-wrap -->
    </div><!-- end .header -->

    <div class="content-wrap">
      <div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-21" style="height: auto;background-color: #ffffff;background-image: none;" >
		<div class="wsite-section-content">
        <div class="container">
			<div class="wsite-section-elements">
				<div class="paragraph" style="text-align:center;">Our Featured Artists</div>

<div><div style="height: 10px; overflow: hidden;"></div>
				<div id='316018333402127352-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
<div id='316018333402127352-imageContainer0' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer0' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/dsc-0877_orig.jpg' rel='lightbox[gallery316018333402127352]' title='Galleons and Guns
'><img src='/uploads/3/0/6/1/30615527/dsc-0877.jpg' class='galleryImage' _width='800' _height='531' style='position:absolute;border:0;width:150.66%;top:0%;left:-25.33%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Galleons and Guns
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer1' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer1' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/alex-rainer-artist-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='Alex Rainer'><img src='/uploads/3/0/6/1/30615527/alex-rainer-artist-orig.jpg' class='galleryImage' _width='800' _height='600' style='position:absolute;border:0;width:133.33%;top:0%;left:-16.67%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Alex Rainer</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer2' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer2' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/8348935-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='Algis Fediajevas
'><img src='/uploads/3/0/6/1/30615527/8348935-orig.jpg' class='galleryImage' _width='800' _height='600' style='position:absolute;border:0;width:133.33%;top:0%;left:-16.67%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Algis Fediajevas
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer3' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer3' style='position:relative;margin:6px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/asv-bio-shot-orig_orig.jpg' rel='lightbox[gallery316018333402127352]'><img src='/uploads/3/0/6/1/30615527/asv-bio-shot-orig.jpg' class='galleryImage' _width='1100' _height='653' style='position:absolute;border:0;width:168.45%;top:0%;left:-34.23%' /></a></div></div></div></div><div id='316018333402127352-imageContainer4' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer4' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/2682965-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='A Big Silent Elephant
'><img src='/uploads/3/0/6/1/30615527/2682965-orig.jpg' class='galleryImage' _width='1080' _height='720' style='position:absolute;border:0;width:150%;top:0%;left:-25%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>A Big Silent Elephant
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer5' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer5' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/373fcc1d-4cc2-41b8-8450-713d905a699d-orig_orig.jpeg' rel='lightbox[gallery316018333402127352]' title='Scott Swain'><img src='/uploads/3/0/6/1/30615527/373fcc1d-4cc2-41b8-8450-713d905a699d-orig.jpeg' class='galleryImage' _width='800' _height='600' style='position:absolute;border:0;width:133.33%;top:0%;left:-16.67%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Scott Swain</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer6' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer6' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/6104887-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='Rusted Sounds
'><img src='/uploads/3/0/6/1/30615527/6104887-orig.jpg' class='galleryImage' _width='627' _height='599' style='position:absolute;border:0;width:104.67%;top:0%;left:-2.34%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Rusted Sounds
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer7' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer7' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/sawak-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='Sawak'><img src='/uploads/3/0/6/1/30615527/sawak-orig.jpg' class='galleryImage' _width='800' _height='797' style='position:absolute;border:0;width:100.38%;top:0%;left:-0.19%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Sawak</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer8' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer8' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/img-5832-kopia-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='Tree On The Rock
'><img src='/uploads/3/0/6/1/30615527/img-5832-kopia-orig.jpg' class='galleryImage' _width='1100' _height='733' style='position:absolute;border:0;width:150.07%;top:0%;left:-25.03%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Tree On The Rock
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer9' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer9' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/14686072-1741955619403328-1450352135-n-orig_orig.png' rel='lightbox[gallery316018333402127352]' title='Elas ir Sparkis
'><img src='/uploads/3/0/6/1/30615527/14686072-1741955619403328-1450352135-n-orig.png' class='galleryImage' _width='348' _height='348' style='position:absolute;border:0;width:100%;top:-0%;left:0%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Elas ir Sparkis
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer10' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer10' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/7519998-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='The Bribe and The Mockery
'><img src='/uploads/3/0/6/1/30615527/7519998-orig.jpg' class='galleryImage' _width='1100' _height='618' style='position:absolute;border:0;width:177.99%;top:0%;left:-39%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>The Bribe and The Mockery
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer11' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer11' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/4147313-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='Jeremy Tuplin'><img src='/uploads/3/0/6/1/30615527/4147313-orig.jpg' class='galleryImage' _width='512' _height='512' style='position:absolute;border:0;width:100%;top:-0%;left:0%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Jeremy Tuplin</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer12' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer12' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/7558705-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='Max Mayall Fine
'><img src='/uploads/3/0/6/1/30615527/7558705-orig.jpg' class='galleryImage' _width='600' _height='800' style='position:absolute;border:0;width:100%;top:-16.67%;left:0%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Max Mayall Fine
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer13' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer13' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/4233552-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='F﻿ish, Flesh, Field and Henry Dollar﻿
'><img src='/uploads/3/0/6/1/30615527/4233552-orig.jpg' class='galleryImage' _width='1000' _height='664' style='position:absolute;border:0;width:150.6%;top:0%;left:-25.3%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>F﻿ish, Flesh, Field and Henry Dollar﻿
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer14' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer14' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/2738010-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='Frank&#x27;s Hard Drive
'><img src='/uploads/3/0/6/1/30615527/2738010-orig.jpg' class='galleryImage' _width='800' _height='781' style='position:absolute;border:0;width:102.43%;top:0%;left:-1.22%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Frank&#x27;s Hard Drive
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer15' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer15' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/5376937-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='Judas Equus
'><img src='/uploads/3/0/6/1/30615527/5376937-orig.jpg' class='galleryImage' _width='600' _height='800' style='position:absolute;border:0;width:100%;top:-16.67%;left:0%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Judas Equus
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer16' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer16' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/6814314-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='James Haddock Jr.
'><img src='/uploads/3/0/6/1/30615527/6814314-orig.jpg' class='galleryImage' _width='800' _height='800' style='position:absolute;border:0;width:100%;top:-0%;left:0%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>James Haddock Jr.
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer17' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer17' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/928382-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='See-Saw'><img src='/uploads/3/0/6/1/30615527/928382-orig.jpg' class='galleryImage' _width='960' _height='640' style='position:absolute;border:0;width:150%;top:0%;left:-25%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>See-Saw</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer18' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer18' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/8854253-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='Steve McCabe
'><img src='/uploads/3/0/6/1/30615527/8854253-orig.jpg' class='galleryImage' _width='327' _height='500' style='position:absolute;border:0;width:100%;top:-26.45%;left:0%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Steve McCabe
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer19' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer19' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/2774813-orig_orig.jpg' rel='lightbox[gallery316018333402127352]' title='Hayden Berry
'><img src='/uploads/3/0/6/1/30615527/2774813-orig.jpg' class='galleryImage' _width='500' _height='332' style='position:absolute;border:0;width:150.6%;top:0%;left:-25.3%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Hayden Berry
</div>
						</div>
					</div>
				</div></a></div></div></div></div><div id='316018333402127352-imageContainer20' style='float:left;width:24.95%;margin:0;'><div id='316018333402127352-insideImageContainer20' style='position:relative;margin:6px;'><div class='galleryImageHolder galleryCaptionHover' style='position:relative; width:100%; padding:0 0 100%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/3/0/6/1/30615527/working-hobo_orig.jpg' rel='lightbox[gallery316018333402127352]' title='Working Hobo'><img src='/uploads/3/0/6/1/30615527/working-hobo.jpg' class='galleryImage' _width='800' _height='600' style='position:absolute;border:0;width:133.33%;top:0%;left:-16.67%' /><div class='galleryCaptionHolder fullImageGalleryCaption' style=''>
					<div class='galleryCaptionHolderInnerBg'></div>
					<div class='galleryCaptionHolderInner'>
						<div class='galleryCaptionInnerTextHolder'>
							<div class='galleryCaptionInnerText'>Working Hobo</div>
						</div>
					</div>
				</div></a></div></div></div></div><span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
</div>

				<div style="height: 20px; overflow: hidden;"></div></div>

<div class="wsite-spacer" style="height:36px;"></div>
			</div>
		</div>
      </div>

	</div>
</div>

</div>

    </div><!-- end content-wrap -->

    <div class="footer-wrap">
      <div class="container">
            <div class="footer">

<style type="text/css">
	@font-face {
		font-family: SQMarket-Medium;
		font-style: normal;
		font-weight: 500;
		src:
			url("//cdn2.editmysite.com/fonts/SQ_Market/sqmarket-medium.woff2") format("woff2"),
			url("//cdn2.editmysite.com/fonts/SQ_Market/sqmarket-medium.woff") format("woff");
	}
</style>

<div id="weebly-footer-signup-container-v3">
	<a
		href="https://www.weebly.com/signup?utm_source=internal&utm_medium=footer"
		target="_blank"
		class="signup-container-header"
		id="signup-link-href"
	>
		<div class="powered-by">
			<div class="footer-published-ab-powered-by">
				Powered by <span class="link weebly-icon"></span>
				<img class="footer-ab-published-toast-image" src="//cdn2.editmysite.com/images/site/footer/footer-toast-published-image-1.png">
				<span class="footer-ab-published-toast-text">Create your own unique website with customizable templates.</span>
				<span class="footer-ab-published-toast-button-wrapper">
					<button class="footer-published-ab-button">Get Started</button>
				</span>
			</div>
		</div>
	</a>
</div>

<script type="text/javascript" src="//cdn2.editmysite.com/js/site/footerSignup.js?buildTime=1697837599"></script>
<script type="text/javascript">
	if (document.readystate === 'complete') {
		Weebly.footer.setupContainer('cdn2.editmysite.com', '1697837599');
	} else {
		document.addEventListener('DOMContentLoaded', function() {
			Weebly.footer.setupContainer('cdn2.editmysite.com', '1697837599');
		});
	}
</script>
</div>
      </div><!-- end container -->
    </div><!-- end footer-wrap -->
  </div>

  <div class="nav mobile-nav"><ul class="wsite-menu-default">
		<li id="active" class="wsite-menu-item-wrap">
			<a
						href="/"
				class="wsite-menu-item"
				>
				Home
			</a>
			
		</li>
		<li id="pg748900977946734220" class="wsite-menu-item-wrap">
			<a
						href="/about.html"
				class="wsite-menu-item"
				>
				About
			</a>
			
		</li>
		<li id="pg625939732446476505" class="wsite-menu-item-wrap">
			<a
						href="/news.html"
				class="wsite-menu-item"
				>
				News
			</a>
			
		</li>
		<li id="pg882732140409665322" class="wsite-menu-item-wrap">
			<a
						href="/artists.html"
				class="wsite-menu-item"
				>
				Artists
			</a>
			
		</li>
		<li id="pg476405692418156884" class="wsite-menu-item-wrap">
			<a
						href="/releases.html"
				class="wsite-menu-item"
				>
				Releases
			</a>
			
		</li>
		<li id="pg105659102922199972" class="wsite-menu-item-wrap">
			<a
						href="/videos.html"
				class="wsite-menu-item"
				>
				Videos
			</a>
			
		</li>
		<li id="pg981721023215091704" class="wsite-menu-item-wrap">
			<a
						href="/-links.html"
				class="wsite-menu-item"
				>
				 Links
			</a>
			
		</li>
		<li id="pg185689842915529816" class="wsite-menu-item-wrap">
			<a
						href="https://resonatingwoodrecordings.bandcamp.com/"
					target="_blank"
				class="wsite-menu-item"
				>
				Shop
			</a>
			
		</li>
</ul>
</div>

  <script type="text/javascript" src="/files/theme/plugins.js?1591200946"></script>
  <script type="text/javascript" src="/files/theme/custom.js?1591200946"></script>
    <div id="customer-accounts-app"></div>
    <script src="//cdn2.editmysite.com/js/site/main-customer-accounts-site.js?buildTime=1663691831"></script>

		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71974415-1', 'auto');
  ga('send', 'pageview');

</script><script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-7870337-1']);
	_gaq.push(['_setDomainName', 'none']);
	_gaq.push(['_setAllowLinker', true]);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		// NOTE: keep the [1] if you replace this code. Otherwise cookie banner scripts won't be first on the page
		var s = document.getElementsByTagName('script')[1]; s.parentNode.insertBefore(ga, s);
	})();

	_W.Analytics = _W.Analytics || {'trackers': {}};
	_W.Analytics.trackers.wGA = '_gaq';
</script>

<script type="text/javascript" async=1>
	// NOTE: keep the getElementsByTagName(o)**[1]** if you replace this code. Otherwise cookie banner scripts won't be first on the page
	;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
			p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
			};p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[1];n.async=1;
			n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,'script','//cdn2.editmysite.com/js/wsnbn/snowday262.js','snowday'));

	var r = [99, 104, 101, 99, 107, 111, 117, 116, 46, 40, 119, 101, 101, 98, 108, 121, 124, 101, 100, 105, 116, 109, 121, 115, 105, 116, 101, 41, 46, 99, 111, 109];
	var snPlObR = function(arr) {
		var s = '';
		for (var i = 0 ; i < arr.length ; i++){
			s = s + String.fromCharCode(arr[i]);
		}
		return s;
	};
	var s = snPlObR(r);

	var regEx = new RegExp(s);

	_W.Analytics = _W.Analytics || {'trackers': {}};
	_W.Analytics.trackers.wSP = 'snowday';
	_W.Analytics.user_id = '30615527';
	_W.Analytics.site_id = '224874594365616900';

	var drSegmentsTag = document.getElementById('drSegments');
	if (drSegmentsTag) {
		_W.Analytics.spContexts = _W.Analytics.spContexts || [];

		var segmentData = JSON.parse(drSegmentsTag.innerText);
		segmentData.forEach(function(test) {
			_W.Analytics.spContexts.push({
				schema: "iglu:com.weebly/context_ab_segment/jsonschema/1-0-0",
				data: {
					test_id: test.name,
					segment: test.variant,
				}
			});
		});
	}


	(function(app_id, ec_hostname, discover_root_domain) {
		var track = window[_W.Analytics.trackers.wSP];
		if (!track) return;
		track('newTracker', app_id, ec_hostname, {
			appId: app_id,
			post: true,
			platform: 'web',
			discoverRootDomain: discover_root_domain,
			cookieName: '_snow_',
			contexts: {
				webPage: true,
				performanceTiming: true,
				gaCookies: true
			},
			crossDomainLinker: function (linkElement) {
				return regEx.test(linkElement.href);
			},
			respectDoNotTrack: true
		});
		track('trackPageView', _W.Analytics.user_id+':'+_W.Analytics.site_id, _W.Analytics.spContexts);
		track('crossDomainLinker', function (linkElement) {
			return regEx.test(linkElement.href);
		});
	})(
		'_wn',
		'ec.editmysite.com',
		true
	);
</script>





<script>
	(function(jQuery) {
		try {
			if (jQuery) {
				jQuery('div.blog-social div.fb-like').attr('class', 'blog-social-item blog-fb-like');
				var $commentFrame = jQuery('#commentArea iframe');
				if ($commentFrame.length > 0) {
					var frameHeight = jQuery($commentFrame[0].contentWindow.document).height() + 50;
					$commentFrame.css('min-height', frameHeight + 'px');
				}
				if (jQuery('.product-button').length > 0){
					jQuery(document).ready(function(){
						jQuery('.product-button').parent().each(function(index, product){
							if(jQuery(product).attr('target') == 'paypal'){
								if (!jQuery(product).find('> [name="bn"]').length){
									jQuery('<input>').attr({
										type: 'hidden',
										name: 'bn',
										value: 'DragAndDropBuil_SP_EC'
									}).appendTo(product);
								}
							}
						});
					});
				}
			}
			else {
				// Prototype
				$$('div.blog-social div.fb-like').each(function(div) {
					div.className = 'blog-social-item blog-fb-like';
				});
				$$('#commentArea iframe').each(function(iframe) {
					iframe.style.minHeight = '410px';
				});
			}
		}
		catch(ex) {}
	})(window._W && _W.jQuery);
</script>

<script>
	window._W.isEUUser = true;
	window._W.showCookieToAll = "";
</script>

<script>
	(function(jQuery) {
		try {
			function forceShowCcLinks() {
				var ccLinks = document.querySelector('.cc_links');
				if (!ccLinks) {
					return;
				}

				var ccLinksVisible = jQuery(ccLinks).is(':visible');
				if (ccLinksVisible) {
					return;
				}


				ccLinks.style.display = 'block';

				var ccParent = ccLinks.parentElement;

				var ccParentVisible = jQuery(ccParent).is(':visible');
				if (ccParentVisible) {
					return;
				}

				ccParent.style.display = 'block';

				var ccGrandparent = ccParent.parentElement;
				var ccGrandparentVisible = jQuery(ccGrandparent).is(':visible');
				if (ccGrandparentVisible) {
					return;
				}
				ccGrandparent.style.display = 'block';

			}

			function forceShowCcLinksForever() {
				var tenSeconds = 10000;
				forceShowCcLinks();
				setTimeout(forceShowCcLinksForever, tenSeconds);
			}

			jQuery(document).ready(forceShowCcLinksForever);
		}
		catch(ex) {}
	})(window._W && _W.jQuery);
</script>


	</body>
</html>
